.records
{
	/*background: url("images/royal.jpg") no-repeat fixed center;*/
	background: black;
}

.records i
{
	color: white;
}

.records #h	
{
	color: white;
	font-weight:500;
	margin-bottom: 20px;
}

.records .container
{
	margin-top: 7%;
	text-align:center;
}	

.records .jumbotron
{
	background: url("images/Frost.jpg") no-repeat fixed center;
	color: white;
	font-weight: 500;
	text-shadow: 0 0 2px white;
}

.records .card-title
{
	background:#210a3a;	
}

.records .card-header
{
	background: black;
	color: white;
	font-weight: 500;
	letter-spacing: 1px;
}

.records .table
{
	color: white;
	font-weight: 600;
	text-transform: uppercase;
}

.records #h1
{
	font-size:60px;
	color: black;
	font-weight: 600;
	/*border: 2px solid red;*/
	padding-left: 50px;
	text-shadow: 0 0 3px black;
}

.records #hr
{
	width: 700px;
	margin-right: 1000px;
	padding-right: 50px;
	/*border: 2px solid purple;*/
	float: left;
}

.records #cardfooter
{
	background: none;
	color: white;
	font-weight: 600;
	margin-bottom: 20px;
}

.records .record
{
	text-align: center;
}

.records .subheading
{
	text-align: center;
	color: white;
	margin-top:10px;
}